p {
  color: #c2c4c6;
  font-family: Avenir Next, Helvetica Neue, Helvetica, Tahoma, sans-serif;
  font-size: 1em;
  font-weight: 700;
}
p span {
  display: inline-block;
  position: relative;
  transform-style: preserve-3d;
  perspective: 500;
  -webkit-font-smoothing: antialiased;
}
p span::before,
p span::after {
  display: none;
  position: absolute;
  top: 0;
  left: -1px;
  transform-origin: left top;
  transition: all ease-out 0.3s;
  content: attr(data-text);
}
p span::before {
  z-index: 1;
  color: rgba(0,0,0,0.2);
  transform: scale(1.1, 1) skew(0deg, 20deg);
}
p span::after {
  z-index: 2;
  color: #002365;
  text-shadow: -1px 0 1px #002365, 1px 0 1px rgba(0,0,0,0.8);
  transform: rotateY(-40deg);
}
p span:hover::before {
  transform: scale(1.1, 1) skew(0deg, 5deg);
}
p span:hover::after {
  transform: rotateY(-10deg);
}
p span + span {
  margin-left: 0.3em;
}
@media (min-width: 20em) {
  p {
    font-size: 2em;
  }
  p span::before,
  p span::after {
    display: block;
  }
}
@media (min-width: 30em) {
  p {
    font-size: 3em;
  }
}
@media (min-width: 40em) {
  p {
    font-size: 5em;
  }
}
@media (min-width: 60em) {
  p {
    font-size: 8em;
  }
}

body{
	background-color: #002365;
	color:  #c2c4c6;
	font-size: 20px;
}


section{
	padding-top: 100px;
	height: 1500px;
	width: 100%;
}

.skill{
	width: 360px;
	height: 450px;
	background-color: white;
	padding-right: 25px;
	color: blue;
}

img{
	width: 120px;
}